{{#each files}}
<div id='{{this.file}}' class='fileContainer'>
    <div class='fileElement'>{{this.file}}</div>
    <div class='fileDescription'>{{this.stats.size}} B | {{date-fmt stats.mtime}}</div>
</div>
{{else}}
No files yet!
{{/each}}
