<div id='{{file.file}}' class='fileContainer' {{action 'setAsCurrentFile'}}>
  <div class='fileElement'>{{file.file}}</div>
  <div class='fileDescription'>{{file.stats.size}} B | {{date-fmt file.stats.mtime}}</div>
</div>